{% if messages %}
{% for message in messages %}
<script>
    Toastify({
        text: `{{ message|safe }}`,
        className: `alert-{{ message.tags }}`,
        style: {
          background: "{% if 'error' in message.tags %}linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(227,162,162,1) 50%){% else %}linear-gradient(90deg, rgba(24,210,110,1) 0%, rgba(139,203,169,1) 50%){% endif %}",
        }
    }).showToast();
</script>
{% endfor %}
{% endif %}

{% if form.errors %}
<div class="alert alert-error">
    {% for field in form %}
      {% if field.errors %}
        {% for error in field.errors %}
        <script>
            Toastify({
                text: `{{ error|escape }}`,
                className: "error",
                style: {
                  background: "linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(227,162,162,1) 50%)",
                }
            }).showToast();
        </script>
        {% endfor %}
      {% endif %}
    {% endfor %}
    {% if form.non_field_errors %}
    {{ form.non_field_errors }}
    <script>
        Toastify({
            text: `{{ form.non_field_errors.as_text }}`,
            className: "error",
            style: {
              background: "linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(227,162,162,1) 50%)",
            }
        }).showToast();
    </script>
  {% endif %}
</div>
{% endif %}