{% extends "base/base.html" %} 
{% load static %} 
{% block title %}Contact{% endblock title %}
{% block description %}{% endblock description %}
{% block keywords %}{% endblock keywords %}
{% block content %}
<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="heading">
    
    </div>
    <nav class="breadcrumbs">
    <div class="container">
        <ol>
        <li><a href="{% url "website:index" %}">Home</a></li>
        <li class="current">Contact</li>
        </ol>
    </div>
    </nav>
</div><!-- End Page Title -->

<!-- Contact Section -->
<section id="contact" class="contact section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

        <div class="col-md-6">
        <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
            <i class="icon bi bi-geo-alt flex-shrink-0"></i>
            <div>
            <h3>City</h3>
            <p>{{ my_information.city }}</p>
            </div>
        </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
        <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="300">
            <i class="icon bi bi-telephone flex-shrink-0"></i>
            <div>
            <h3>Call Me</h3>
            <p>{{ my_information.phone }}</p>
            </div>
        </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
        <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="400">
            <i class="icon bi bi-envelope flex-shrink-0"></i>
            <div>
            <h3>Email Us</h3>
            <p>{{ my_information.email }}</p>
            </div>
        </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
        <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="500">
            <i class="icon bi bi-share flex-shrink-0"></i>
            <div>
            <h3>Social Profiles</h3>
            <div class="social-links">
                {% for social in website.socials.all %}
                <a href="{{social.link}}"><i class="{{social.icon}}"></i></a>
                {% endfor %}
            </div>
            </div>
        </div>
        </div><!-- End Info Item -->

    </div>

    <form action="{% url 'website:contact' %}" class="php-email-form" method="post" >
        {% csrf_token %}
        <div class="row gy-4">

        <div class="col-md-6">
            {{ form.full_name }}
        </div>

        <div class="col-md-6 ">
            {{ form.email }}
        </div>

        <div class="col-md-12">
            {{ form.subject }}
        </div>

        <div class="col-md-12">
            {{ form.message }}
        </div>

        <div class="col-md-12 text-center">
            <button type="submit">Send Message</button>
        </div>

        </div>
    </form><!-- End Contact Form -->

    </div>

</section>
<!-- /Contact Section -->
{% endblock content %}