{% extends "base/base.html" %} 
{% load static %} 
{% block title %}Portfolio{% endblock title %}
{% block description %}{% endblock description %}
{% block keywords %}{% endblock keywords %}
{% block content %}
<!-- Hero Section -->
<section id="hero" class="hero section dark-background">
  <img src="{{ object.background_image.url }}" alt="" data-aos="fade-in" />
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <h2>{{ object.site_title }}</h2>
    <p>
      I'm
      <span
        class="typed"
        data-typed-items="{{ object.sub_title }}"
        ></span
      ><span class="typed-cursor typed-cursor--blink"></span>
    </p>
    <div class="social-links">
      {% for social in object.socials.all %}
      <a href="{{ social.link }}"><i class="{{ social.icon }}"></i></a>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /Hero Section -->
{% endblock content %}