{% extends "base/base.html" %} 
{% load static %} 
{% block title %}Portfolio Detail{% endblock title %}
{% block description %}{% endblock description %}
{% block keywords %}{% endblock keywords %}
{% block content %}
<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="heading">
    <div class="container">
        <div class="row d-flex justify-content-center text-center">
        <div class="col-lg-8">
            <h1>Portfolio Details</h1>
            <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
        </div>
        </div>
    </div>
    </div>
    <nav class="breadcrumbs">
    <div class="container">
        <ol>
        <li><a href="{% url "website:index" %}">Home</a></li>
        <li class="current">Portfolio Details</li>
        </ol>
    </div>
    </nav>
</div><!-- End Page Title -->

<!-- Portfolio Details Section -->
<section id="portfolio-details" class="portfolio-details section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

        <div class="col-lg-8">
        <div class="portfolio-details-slider swiper init-swiper">

            <script type="application/json" class="swiper-config">
            {
                "loop": true,
                "speed": 600,
                "autoplay": {
                "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
                }
            }
            </script>

            <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
                <img src="assets/img/portfolio/app-1.jpg" alt="">
            </div>

            <div class="swiper-slide">
                <img src="assets/img/portfolio/product-1.jpg" alt="">
            </div>

            <div class="swiper-slide">
                <img src="assets/img/portfolio/branding-1.jpg" alt="">
            </div>

            <div class="swiper-slide">
                <img src="assets/img/portfolio/books-1.jpg" alt="">
            </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
        </div>

        <div class="col-lg-4">
        <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
            <h3>Project information</h3>
            <ul>
            <li><strong>Category</strong>: Web design</li>
            <li><strong>Client</strong>: ASU Company</li>
            <li><strong>Project date</strong>: 01 March, 2020</li>
            <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
            </ul>
        </div>
        <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
            <h2>Exercitationem repudiandae officiis neque suscipit</h2>
            <p>
            Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
            </p>
        </div>
        </div>

    </div>

    </div>

</section>
<!-- /Portfolio Details Section -->
{% endblock content %}