{% extends "base/base.html" %} 
{% load static %} 
{% block title %}Portfolio Detail{% endblock title %}
{% block description %}{% endblock description %}
{% block keywords %}{% endblock keywords %}
{% block content %}
<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="heading"></div>
    <nav class="breadcrumbs">
    <div class="container">
        <ol>
        <li><a href="{% url "website:index" %}">Home</a></li>
        <li class="current">Portfolio Details</li>
        </ol>
    </div>
    </nav>
</div><!-- End Page Title -->

<!-- Portfolio Details Section -->
<section id="portfolio-details" class="portfolio-details section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

        <div class="col-lg-8">
        <div class="portfolio-details-slider swiper init-swiper">

            <script type="application/json" class="swiper-config">
            {
                "loop": true,
                "speed": 600,
                "autoplay": {
                "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
                }
            }
            </script>

            <div class="swiper-wrapper align-items-center">

            {% for item in object.gallery.all %}
            <div class="swiper-slide">
                <img src="{{ item.image.url }}" alt="">
            </div>
            {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
        </div>

        <div class="col-lg-4">
        <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
            <h3>Project information</h3>
            <ul>
            <li><strong>Category</strong>: {% for category in object.categories.all %}{{category.title}}{% endfor %}</li>
            <li><strong>Client</strong>: {{ object.client }}</li>
            <li><strong>Project date</strong>: {{ object.project_date|date:"M d, Y"  }}</li>
            <li><strong>Project URL</strong>: <a href="#">{{ object.website }}</a></li>
            </ul>
        </div>
        <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
            <h2>{{ object.title }}</h2>
            <p>{{ object.description }}</p>
        </div>
        </div>

    </div>

    </div>

</section>
<!-- /Portfolio Details Section -->
{% endblock content %}