{% extends "dashboard/base/base.html" %}
{% block content %}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Dashboard/</span> My Information</h4>
    <!-- Basic Layout -->
    <div class="row">
      <div class="col-xl">
        <div class="card mb-4">
          <div class="card-body">
            <form action="{% url "dashboard:information" %}" enctype="multipart/form-data" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="mb-3 col-6">
                  <label class="form-label">Title</label>
                  {{ form.title }}
                </div>
                <div class="mb-3 col-6">
                  <div class="card-body">
                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                      <img src="{{ object.image.url }}" alt="user-image" class="img-fluid w-25 d-block rounded" id="uploadedImage">
                      <div class="button-wrapper">
                          <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                              <span class="d-none d-sm-block">Upload new Image</span>
                              <i class="bx bx-upload d-block d-sm-none"></i>
                              <input type="file" name="image" id="upload" class="account-file-input" hidden accept="image/png, image/jpeg">
                          </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="mb-3  col-6">
                  <label class="form-label">Birth_date</label>
                  {{ form.birth_date }}
                </div>
                <div class="mb-3  col-6">
                  <label class="form-label">Website</label>
                  {{ form.website }}
                </div>
              </div>
              <div class="row">
                <div class="mb-3 col-6">
                  <label class="form-label">Phone</label>
                  {{ form.phone }}
                </div>
                <div class="mb-3 col-6">
                  <label class="form-label">City</label>
                  {{ form.city }}
                </div>
              </div>
              <div class="row">
                <div class="mb-3 col-6">
                  <label class="form-label">Degree</label>
                  {{ form.degree }}
                </div>
                <div class="mb-3 col-6">
                  <label class="form-label">Email</label>
                  {{ form.email }}
                </div>
              </div>
              <div class="row">
                <div class="mb-3 col-10">
                  <label class="form-label">Description</label>
                  {{ form.description }}
                </div>
                <div class="mb-3 col-2 align-content-center">
                  <label class="form-label">Freelance</label>
                  {{ form.freelance }}
                </div>
              </div>              
              <button type="submit" class="btn btn-primary">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- / Content -->
{% endblock content %}
{% block extra_js %}
<script>
  document.getElementById('upload').addEventListener('change', function(event) {
      const file = event.target.files[0];
      if (file) {
          const reader = new FileReader();
          reader.onload = function(e) {
              document.getElementById('uploadedImage').src = e.target.result;
          }
          reader.readAsDataURL(file);
      }
  });
</script>
{% endblock extra_js %}