{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Farzin Shams Portfolio | فرزین شمس</title>
    <meta content="وبسایت شخصی فرزین شمس" name="description">
    <meta content="طراحی سایت, فرزین شمس, farzin shams" name="keywords">
    <meta property="og:site_name" content="Farzin Shams | فرزین شمس" /
    {% include 'shared/_HeaderRefrences.html' %}
</head>
<body>
{% include 'shared/Header.html' %}
{% block content %}{% endblock %}
{% include 'shared/Footer.html' %}
{% include 'shared/_FooterRefrences.html' %}
</body>
</html>