<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="{% url "website:index" %}" target="_blank" class="app-brand-link">
        <span class="app-brand-logo demo">
          <img src="{{ website.logo_image.url }}" alt="">
        </span>
        <span class="app-brand-text  menu-text fw-bolder ms-2">Portfolio</span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
        <a href="{% url "dashboard:home" %}" class="menu-link">
          <i class="menu-icon bi bi-house"></i>
          <div>Dashboard</div>
        </a>
      </li>

      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Website</span>
      </li>
      <li class="menu-item {% if request.resolver_match.url_name == 'information' %}active{% endif %}">
        <a href="{% url "dashboard:information" %}" class="menu-link">
          <i class="menu-icon bi bi-house-gear"></i>
          <div>My Information</div>
        </a>
      </li>
      <li class="menu-item {% if request.resolver_match.url_name == 'skill-list' %}active{% endif %}">
        <a href="{% url "dashboard:skill-list" %}" class="menu-link">
          <i class="menu-icon bi bi-briefcase"></i>
          <div>Skills</div>
        </a>
      </li>
      <li class="menu-item  {% if request.resolver_match.url_name == 'website' %}active{% endif %}">
        <a href="{% url "dashboard:website" %}" class="menu-link">
          <i class="menu-icon bi bi-database-fill-gear"></i>
          <div>Primary Information</div>
        </a>
      </li>
      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Resume</span>
      </li>
      <li class="menu-item  {% if request.resolver_match.url_name == 'summary' %}active{% endif %}">
        <a href="{% url "dashboard:summary" %}" class="menu-link">
          <i class="menu-icon bi bi-file-earmark-person"></i>
          <div>Summary</div>
        </a>
      </li>
      <li class="menu-item {% if request.resolver_match.url_name == 'experience-list' %}active{% endif %}">
        <a href="{% url "dashboard:experience-list" %}" class="menu-link">
          <i class="menu-icon bi bi-award"></i>
          <div>Experiences</div>
        </a>
      </li>
      <li class="menu-item {% if request.resolver_match.url_name == 'education-list' %}active{% endif %}">
        <a href="{% url "dashboard:education-list" %}" class="menu-link">
          <i class="menu-icon bi bi-backpack"></i>
          <div>Educations</div>
        </a>
      </li>
    </ul>
  </aside>
  <!-- / Menu -->