{% extends "base/base.html" %} 
{% load static %} 
{% block title %}Services{% endblock title %}
{% block description %}{% endblock description %}
{% block keywords %}{% endblock keywords %}
{% block content %}
<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="heading">
    <div class="container">
        <div class="row d-flex justify-content-center text-center">
        <div class="col-lg-8">
            <h1>Services</h1>
            <p class="mb-0">{{ object.description }}</p>
        </div>
        </div>
    </div>
    </div>
    <nav class="breadcrumbs">
    <div class="container">
        <ol>
        <li><a href="{% url "website:index" %}">Home</a></li>
        <li class="current">Services</li>
        </ol>
    </div>
    </nav>
</div>
<!-- End Page Title -->
<!-- Services Section -->
<section id="services" class="services section">
    <div class="container">
    <div class="row gy-4">
        {% for service in object.services.all %}
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item  position-relative">
            <div class="icon">
            <i class="bi {{ service.icon }}"></i>
            </div>
            {% comment %} <a href="service-details.html" class="stretched-link"> {% endcomment %}
            <h3>{{ service.title }}</h3>
            {% comment %} </a> {% endcomment %}
            <p>{{ service.description }}</p>
        </div>
        </div>
        <!-- End Service Item -->
        {% endfor %}
    </div>
    </div>
</section>
<!-- /Services Section -->
{% endblock content %}