{% load static %}
<footer id="footer" class="footer dark-background">
  <div class="container">
    <h3 class="sitename">{{ website.site_title }}</h3>
    <p>{{ website.about_me }}</p>
    <div class="social-links d-flex justify-content-center">
      {% for social in website.socials.all %}
      <a href="{{ social.link }}"><i class="{{ social.icon }}"></i></a>
      {% endfor %}
    </div>
    <div class="container">
      <div class="credits">
        Designed by <a href="https://farzinshams.com/">Farzin Shams</a>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll Top -->
<a
  href="#"
  id="scroll-top"
  class="scroll-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>

<!-- Preloader -->
<div id="preloader"></div>
