{% load static %}
<header id="header" class="header d-flex align-items-center fixed-top">
  <div
    class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between"
  >
    <a href="{% url "website:index" %}" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1 class="sitename">FARZIN SHAMS</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{% url "website:index" %}" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">Home</a></li>
        <li><a href="{% url "website:about" %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">About</a></li>
        <li><a href="{% url "resume:resume-detail" %}" class="{% if request.resolver_match.url_name == 'resume-detail' %}active{% endif %}">Resume</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="{% url "website:contact" %}" class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Contact</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
  </div>
</header>
